.jumbotron {
    background: #999;
    color: #fff;
    text-align: center;
<<<<<<< HEAD
=======
}
.page-header {
    text-align: center;
    margin-bottom: 50px;
>>>>>>> refs/remotes/origin/aggelosqq
}