body {
}
.jumbotron {
    background: #999;
    color: #fff;
    text-align: center;
}
.page-header {
    text-align: center;
    margin-bottom: 50px;
}
.footer  {
    border-top: 1px solid #222;
    padding: 5px;
}
.footer p {
    padding: 5px;
}
iframe {
    margin: 5px;
}
.posted-by {
    text-align: center;
}
.banned {
    text-decoration: line-through;
}
.banned:hover {
    text-decoration: line-through;
    color: initial;
}
.page-header {
    cursor: pointer;
}